.ListMovie {
    width: 100%;
    height: auto;
}
.MainHeader {
    width:100%;
    text-align: center;
}
.Film{
    width: 20%;
    height: auto;
    float: left;
    padding-top: 1%;
    padding-bottom: 3%;
}
.Film img {
    width: 100%;
    height: 27vw;
}
